<% @page_title = 'Delete Batch' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Delete Batch?</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>Are you sure you want to delete the Batch <%= @batch.name %> ?</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-3">
        <%= button_to 'Yes, Delete', {:action => 'destroy', :id => @batch.id }, method: :delete, :class => 'btn btn-danger' %>
      </div>
      <div class="col-md-3">
        <%= button_to 'No, Don\'t Delete', batches_path, method: :get, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
